/* .left a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 20px;
  transition: 0.1s;
}

.active {
  background-color: #fd764f;
}

.left a:hover {
  transition: 0.4s;
  background-color: #fd764f;
} */
