.collobarate {
  color: #ffffff;
  height: 200px;
  border-radius: 15px;
  padding: 20px;
  margin-top: 10px;
  background: rgba(82, 63, 95, 0.4);
  margin-left: 10px;
  margin-right: 10px;
  line-height: 200px;
  text-align: center;
}
